<layout name="layout" />
    <div class="box newbox">
        <div class="shot update">
            <div class="title">
                <h3>今日更新 25部</h3><span><a target="_blank" href="/top/lastupdate.html">最近更新&gt;&gt;</a></span>
            </div>
            <ul>
                <li>
                    <i class="n">1</i>
                    <a target="_blank" title="新妹魔王的契约者" href="/Html/GP20063.html">新妹魔王的契约者</a>
                    <span class="new">01-08</span>
                </li>
                <li>
                    <i class="n">1</i>
                    <a target="_blank" title="新妹魔王的契约者" href="/Html/GP20063.html">新妹魔王的契约者</a>
                    <span class="new">01-08</span>
                </li>
                <li>
                    <i class="n">1</i>
                    <a target="_blank" title="新妹魔王的契约者" href="/Html/GP20063.html">新妹魔王的契约者</a>
                    <span class="new">01-08</span>
                </li>
                <li>
                    <i class="n">1</i>
                    <a target="_blank" title="新妹魔王的契约者" href="/Html/GP20063.html">新妹魔王的契约者</a>
                    <span class="new">01-08</span>
                </li>
                <li>
                    <i class="n">1</i>
                    <a target="_blank" title="新妹魔王的契约者" href="/Html/GP20063.html">新妹魔王的契约者</a>
                    <span class="new">01-08</span>
                </li>
                <li>
                    <i class="n">1</i>
                    <a target="_blank" title="新妹魔王的契约者" href="/Html/GP20063.html">新妹魔王的契约者</a>
                    <span class="new">01-08</span>
                </li>
                <li>
                    <i class="n">1</i>
                    <a target="_blank" title="新妹魔王的契约者" href="/Html/GP20063.html">新妹魔王的契约者</a>
                    <span class="new">01-08</span>
                </li>
                <li>
                    <i class="n">1</i>
                    <a target="_blank" title="新妹魔王的契约者" href="/Html/GP20063.html">新妹魔王的契约者</a>
                    <span class="new">01-08</span>
                </li>
                <li>
                    <i class="n">1</i>
                    <a target="_blank" title="新妹魔王的契约者" href="/Html/GP20063.html">新妹魔王的契约者</a>
                    <span class="new">01-08</span>
                </li>
                <li>
                    <i class="n">1</i>
                    <a target="_blank" title="新妹魔王的契约者" href="/Html/GP20063.html">新妹魔王的契约者</a>
                    <span class="new">01-08</span>
                </li>
                <li>
                    <i class="n">1</i>
                    <a target="_blank" title="新妹魔王的契约者" href="/Html/GP20063.html">新妹魔王的契约者</a>
                    <span class="new">01-08</span>
                </li>
                <li>
                    <i class="n">1</i>
                    <a target="_blank" title="新妹魔王的契约者" href="/Html/GP20063.html">新妹魔王的契约者</a>
                    <span class="new">01-08</span>
                </li>
                <li>
                    <i class="n">1</i>
                    <a target="_blank" title="新妹魔王的契约者" href="/Html/GP20063.html">新妹魔王的契约者</a>
                    <span class="new">01-08</span>
                </li>
                <li>
                    <i class="n">1</i>
                    <a target="_blank" title="新妹魔王的契约者" href="/Html/GP20063.html">新妹魔王的契约者</a>
                    <span class="new">01-08</span>
                </li>
            </ul>
        </div>
        <div class="content">
            <div class="title">
                <h2>
                    <a href="javascript:void(0);">本周热播</a>
                </h2>
                <dl>
                    <dd class="on">
                        <a target="_blank" href="/GvodHtml/15.html">电影</a>
                    </dd>
                    <dd>
                        <a target="_blank" href="/GvodHtml/16.html">电视</a>
                    </dd>
                    <dd class="">
                        <a target="_blank" href="/GvodHtml/8.html">综艺片</a>
                    </dd>
                    <dd class="">
                        <a target="_blank" href="/GvodHtml/7.html">动画片</a>
                    </dd>
                </dl>
            </div>
            <div class="bd clearfix">
                <ul class="img-list dis clearfix" style="display:block;">
                    <li>
                        <a class="play-img" target="_blank" title="" href="">
                            <img alt="" src="__ROOT__/Public/Img/20141117234633396.jpg"/>
                            <i></i>
                            <em>动作冒险</em>
                        </a>
                        <b>
                            <a target="_blank" title="" href="">智取威虎山3D</a>
                        </b>
                        <p>2014-动作片</p>
                    </li>
                    <li>
                        <a class="play-img" target="_blank" title="" href="">
                            <img alt="" src="__ROOT__/Public/Img/20141117234633396.jpg"/>
                            <i></i>
                            <em>动作冒险</em>
                        </a>
                        <b>
                            <a target="_blank" title="" href="">智取威虎山3D</a>
                        </b>
                        <p>2014-动作片</p>
                    </li>
                    <li>
                        <a class="play-img" target="_blank" title="" href="">
                            <img alt="" src="__ROOT__/Public/Img/20141117234633396.jpg"/>
                            <i></i>
                            <em>动作冒险</em>
                        </a>
                        <b>
                            <a target="_blank" title="" href="">智取威虎山3D</a>
                        </b>
                        <p>2014-动作片</p>
                    </li>
                    <li>
                        <a class="play-img" target="_blank" title="" href="">
                            <img alt="" src="__ROOT__/Public/Img/20141117234633396.jpg"/>
                            <i></i>
                            <em>动作冒险</em>
                        </a>
                        <b>
                            <a target="_blank" title="" href="">智取威虎山3D</a>
                        </b>
                        <p>2014-动作片</p>
                    </li>
                    <li>
                        <a class="play-img" target="_blank" title="" href="">
                            <img alt="" src="__ROOT__/Public/Img/20141117234633396.jpg"/>
                            <i></i>
                            <em>动作冒险</em>
                        </a>
                        <b>
                            <a target="_blank" title="" href="">智取威虎山3D</a>
                        </b>
                        <p>2014-动作片</p>
                    </li>
                    <li>
                        <a class="play-img" target="_blank" title="" href="">
                            <img alt="" src="__ROOT__/Public/Img/20141117234633396.jpg"/>
                            <i></i>
                            <em>动作冒险</em>
                        </a>
                        <b>
                            <a target="_blank" title="" href="">智取威虎山3D</a>
                        </b>
                        <p>2014-动作片</p>
                    </li>
                    <li>
                        <a class="play-img" target="_blank" title="" href="">
                            <img alt="" src="__ROOT__/Public/Img/20141117234633396.jpg"/>
                            <i></i>
                            <em>动作冒险</em>
                        </a>
                        <b>
                            <a target="_blank" title="" href="">智取威虎山3D</a>
                        </b>
                        <p>2014-动作片</p>
                    </li>
                    <li>
                        <a class="play-img" target="_blank" title="" href="">
                            <img alt="" src="__ROOT__/Public/Img/20141117234633396.jpg"/>
                            <i></i>
                            <em>动作冒险</em>
                        </a>
                        <b>
                            <a target="_blank" title="" href="">智取威虎山3D</a>
                        </b>
                        <p>2014-动作片</p>
                    </li>
                    <li>
                        <a class="play-img" target="_blank" title="" href="">
                            <img alt="" src="__ROOT__/Public/Img/20141117234633396.jpg"/>
                            <i></i>
                            <em>动作冒险</em>
                        </a>
                        <b>
                            <a target="_blank" title="" href="">智取威虎山3D</a>
                        </b>
                        <p>2014-动作片</p>
                    </li>
                    <li>
                        <a class="play-img" target="_blank" title="" href="">
                            <img alt="" src="__ROOT__/Public/Img/20141117234633396.jpg"/>
                            <i></i>
                            <em>动作冒险</em>
                        </a>
                        <b>
                            <a target="_blank" title="" href="">智取威虎山3D</a>
                        </b>
                        <p>2014-动作片</p>
                    </li>
                    <li>
                        <a class="play-img" target="_blank" title="" href="">
                            <img alt="" src="__ROOT__/Public/Img/20141117234633396.jpg"/>
                            <i></i>
                            <em>动作冒险</em>
                        </a>
                        <b>
                            <a target="_blank" title="" href="">智取威虎山3D</a>
                        </b>
                        <p>2014-动作片</p>
                    </li>
                    <li>
                        <a class="play-img" target="_blank" title="" href="">
                            <img alt="" src="__ROOT__/Public/Img/20141117234633396.jpg"/>
                            <i></i>
                            <em>动作冒险</em>
                        </a>
                        <b>
                            <a target="_blank" title="" href="">智取威虎山3D</a>
                        </b>
                        <p>2014-动作片</p>
                    </li>
                 


                </ul>
            </div>
        </div>
        <div class="cr"></div>
    </div>
    <div class="trailers">
        <div class="title">
            <b>
                <a style="color:#06A6E2" target="_blank" href="">影视预告</a>
            </b>
            全部
            <i>69</i>
        </div>
        <ul class="img-list">
            <li>
                <a class="play-img" target="_blank" title="" href="">
                    <img alt="" src="__ROOT__/Public/Img/20150101212304252.jpg"/>
                    <i></i>
                    <em>奇幻动画</em>
                </a>
                <b>
                    <a target="_blank" title="龙奇侠" href="">龙奇侠</a>
                </b>
                <p>
                    <a target="_blank" title="">预告</a>
                </p>
            </li>
            <li>
                <a class="play-img" target="_blank" title="" href="">
                    <img alt="" src="__ROOT__/Public/Img/20150101212304252.jpg"/>
                    <i></i>
                    <em>奇幻动画</em>
                </a>
                <b>
                    <a target="_blank" title="龙奇侠" href="">龙奇侠</a>
                </b>
                <p>
                    <a target="_blank" title="">预告</a>
                </p>
            </li>
            <li>
                <a class="play-img" target="_blank" title="" href="">
                    <img alt="" src="__ROOT__/Public/Img/20150101212304252.jpg"/>
                    <i></i>
                    <em>奇幻动画</em>
                </a>
                <b>
                    <a target="_blank" title="龙奇侠" href="">龙奇侠</a>
                </b>
                <p>
                    <a target="_blank" title="">预告</a>
                </p>
            </li>
            <li>
                <a class="play-img" target="_blank" title="" href="">
                    <img alt="" src="__ROOT__/Public/Img/20150101212304252.jpg"/>
                    <i></i>
                    <em>奇幻动画</em>
                </a>
                <b>
                    <a target="_blank" title="龙奇侠" href="">龙奇侠</a>
                </b>
                <p>
                    <a target="_blank" title="">预告</a>
                </p>
            </li>
            <li>
                <a class="play-img" target="_blank" title="" href="">
                    <img alt="" src="__ROOT__/Public/Img/20150101212304252.jpg"/>
                    <i></i>
                    <em>奇幻动画</em>
                </a>
                <b>
                    <a target="_blank" title="龙奇侠" href="">龙奇侠</a>
                </b>
                <p>
                    <a target="_blank" title="">预告</a>
                </p>
            </li>
            <li>
                <a class="play-img" target="_blank" title="" href="">
                    <img alt="" src="__ROOT__/Public/Img/20150101212304252.jpg"/>
                    <i></i>
                    <em>奇幻动画</em>
                </a>
                <b>
                    <a target="_blank" title="龙奇侠" href="">龙奇侠</a>
                </b>
                <p>
                    <a target="_blank" title="">预告</a>
                </p>
            </li>
            <li>
                <a class="play-img" target="_blank" title="" href="">
                    <img alt="" src="__ROOT__/Public/Img/20150101212304252.jpg"/>
                    <i></i>
                    <em>奇幻动画</em>
                </a>
                <b>
                    <a target="_blank" title="龙奇侠" href="">龙奇侠</a>
                </b>
                <p>
                    <a target="_blank" title="">预告</a>
                </p>
            </li>
            <li>
                <a class="play-img" target="_blank" title="" href="">
                    <img alt="" src="__ROOT__/Public/Img/20150101212304252.jpg"/>
                    <i></i>
                    <em>奇幻动画</em>
                </a>
                <b>
                    <a target="_blank" title="龙奇侠" href="">龙奇侠</a>
                </b>
                <p>
                    <a target="_blank" title="">预告</a>
                </p>
            </li>
        </ul>
        <div class="cr"></div>
    </div>
    <div class="box">
        <div class="content">
            <div class="title">
                <h2>
                    <a href="">电影</a>
                </h2>
                <dl>
                    <dd>
                        <a>推荐</a>
                    </dd>
                    <dd>
                        <a>动作片</a>
                    </dd>
                    <dd>
                        <a>动作片</a>
                    </dd>
                    <dd>
                        <a>动作片</a>
                    </dd>
                    <dd>
                        <a>动作片</a>
                    </dd>
                    <dd>
                        <a>动作片</a>
                    </dd>
                </dl>
            </div>
            <div class="bd clearfix">
                <ul class="img-list dis clearfix" style="display:block;">
                    <li>
                        <a class="play-img" title="心灵传输者">
                            <img src="__ROOT__/Public/Img/20150111191856156.jpg"/>
                            <i></i>
                            <em>1280超清</em>
                        </a>
                        <b>
                            <a>心灵传输者</a>
                        </b>
                        <p>2008-科幻片</p>
                    </li>
                    <li>
                        <a class="play-img" title="心灵传输者">
                            <img src="__ROOT__/Public/Img/20150111191856156.jpg"/>
                            <i></i>
                            <em>1280超清</em>
                        </a>
                        <b>
                            <a>心灵传输者</a>
                        </b>
                        <p>2008-科幻片</p>
                    </li>
                    <li>
                        <a class="play-img" title="心灵传输者">
                            <img src="__ROOT__/Public/Img/20150111191856156.jpg"/>
                            <i></i>
                            <em>1280超清</em>
                        </a>
                        <b>
                            <a>心灵传输者</a>
                        </b>
                        <p>2008-科幻片</p>
                    </li>
                    <li>
                        <a class="play-img" title="心灵传输者">
                            <img src="__ROOT__/Public/Img/20150111191856156.jpg"/>
                            <i></i>
                            <em>1280超清</em>
                        </a>
                        <b>
                            <a>心灵传输者</a>
                        </b>
                        <p>2008-科幻片</p>
                    </li>
                    <li>
                        <a class="play-img" title="心灵传输者">
                            <img src="__ROOT__/Public/Img/20150111191856156.jpg"/>
                            <i></i>
                            <em>1280超清</em>
                        </a>
                        <b>
                            <a>心灵传输者</a>
                        </b>
                        <p>2008-科幻片</p>
                    </li>
                    <li>
                        <a class="play-img" title="心灵传输者">
                            <img src="__ROOT__/Public/Img/20150111191856156.jpg"/>
                            <i></i>
                            <em>1280超清</em>
                        </a>
                        <b>
                            <a>心灵传输者</a>
                        </b>
                        <p>2008-科幻片</p>
                    </li>
                    <li>
                        <a class="play-img" title="心灵传输者">
                            <img src="__ROOT__/Public/Img/20150111191856156.jpg"/>
                            <i></i>
                            <em>1280超清</em>
                        </a>
                        <b>
                            <a>心灵传输者</a>
                        </b>
                        <p>2008-科幻片</p>
                    </li>
                    <li>
                        <a class="play-img" title="心灵传输者">
                            <img src="__ROOT__/Public/Img/20150111191856156.jpg"/>
                            <i></i>
                            <em>1280超清</em>
                        </a>
                        <b>
                            <a>心灵传输者</a>
                        </b>
                        <p>2008-科幻片</p>
                    </li>
                    <li>
                        <a class="play-img" title="心灵传输者">
                            <img src="__ROOT__/Public/Img/20150111191856156.jpg"/>
                            <i></i>
                            <em>1280超清</em>
                        </a>
                        <b>
                            <a>心灵传输者</a>
                        </b>
                        <p>2008-科幻片</p>
                    </li>
                    <li>
                        <a class="play-img" title="心灵传输者">
                            <img src="__ROOT__/Public/Img/20150111191856156.jpg"/>
                            <i></i>
                            <em>1280超清</em>
                        </a>
                        <b>
                            <a>心灵传输者</a>
                        </b>
                        <p>2008-科幻片</p>
                    </li>
                    <li>
                        <a class="play-img" title="心灵传输者">
                            <img src="__ROOT__/Public/Img/20150111191856156.jpg"/>
                            <i></i>
                            <em>1280超清</em>
                        </a>
                        <b>
                            <a>心灵传输者</a>
                        </b>
                        <p>2008-科幻片</p>
                    </li>
                    <li>
                        <a class="play-img" title="心灵传输者">
                            <img src="__ROOT__/Public/Img/20150111191856156.jpg"/>
                            <i></i>
                            <em>1280超清</em>
                        </a>
                        <b>
                            <a>心灵传输者</a>
                        </b>
                        <p>2008-科幻片</p>
                    </li>
                </ul>
            </div>
        </div>
        <div class="side">
            <div class="shot">
                <dl>
                    <dt>
                        <a>电影最新</a>
                    </dt>
                    <dd class="on">
                        <a>大陆</a>
                    </dd>
                    <dd class="on">
                        <a>大陆</a>
                    </dd>
                    <dd class="on">
                        <a>大陆</a>
                    </dd>
                    <dd class="on">
                        <a>大陆</a>
                    </dd>
                </dl>
                <div class="bd">
                    <ul class="dis">
                        <li>
                            <i class="n">1</i>
                            <a>微爱之渐入佳境</a>
                            <span class="new">01-11</span>
                        </li>
                        <li>
                            <i class="n">1</i>
                            <a>微爱之渐入佳境</a>
                            <span class="new">01-11</span>
                        </li>
                        <li>
                            <i class="n">1</i>
                            <a>微爱之渐入佳境</a>
                            <span class="new">01-11</span>
                        </li>
                        <li>
                            <i class="n">1</i>
                            <a>微爱之渐入佳境</a>
                            <span class="new">01-11</span>
                        </li>
                        <li>
                            <i class="n">1</i>
                            <a>微爱之渐入佳境</a>
                            <span class="new">01-11</span>
                        </li>
                        <li>
                            <i class="n">1</i>
                            <a>微爱之渐入佳境</a>
                            <span class="new">01-11</span>
                        </li>
                        <li>
                            <i class="n">1</i>
                            <a>微爱之渐入佳境</a>
                            <span class="new">01-11</span>
                        </li>
                        <li>
                            <i class="n">1</i>
                            <a>微爱之渐入佳境</a>
                            <span class="new">01-11</span>
                        </li>
                        <li>
                            <i class="n">1</i>
                            <a>微爱之渐入佳境</a>
                            <span class="new">01-11</span>
                        </li>
                        <li>
                            <i class="n">1</i>
                            <a>微爱之渐入佳境</a>
                            <span class="new">01-11</span>
                        </li>
                        <li>
                            <i class="n">1</i>
                            <a>微爱之渐入佳境</a>
                            <span class="new">01-11</span>
                        </li>
                        <li>
                            <i class="n">1</i>
                            <a>微爱之渐入佳境</a>
                            <span class="new">01-11</span>
                        </li>
                        <li>
                            <i class="n">1</i>
                            <a>微爱之渐入佳境</a>
                            <span class="new">01-11</span>
                        </li>
                        <li>
                            <i class="n">1</i>
                            <a>微爱之渐入佳境</a>
                            <span class="new">01-11</span>
                        </li>
                        <li>
                            <i class="n">1</i>
                            <a>微爱之渐入佳境</a>
                            <span class="new">01-11</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

    </div>

<script>
    dynamicLoading.css('__PUBLIC__/Css/index.css');
</script>