.view {
    background: none repeat scroll 0 0 #fff;
    border: 1px solid #ececec;
    float: left;
    height: 418px;
    width: 698px;
}
.wz {
    background: url("../../../../Public/Img/wzbg.png") repeat-x scroll 0 0 rgba(0, 0, 0, 0);
    color: #8e8e8e;
    height: 38px;
    line-height: 38px;
    padding: 0 10px;
}
.view .pic {
    float: left;
    padding: 30px 0 0 20px;
    width: 160px;
}
.view .pic p {
    height: 44px;
    padding-top: 16px;
}
.view .pic p a, .view .pic p a:visited {
    background: none repeat scroll 0 0 #ff4200;
    color: #fff;
    display: block;
    font-size: 24px;
    height: 44px;
    line-height: 44px;
    overflow: hidden;
    text-align: center;
    width: 160px;
}
.view .info {
    float: right;
    padding-top: 30px;
    position: relative;
    width: 500px;
}
.view .info h1 {
    color: #3d4353;
    font-size: 22px;
    height: 36px;
}
h1, h2, h3, h4, h5, h6 {
    font-size: 12px;
    font-weight: normal;
    margin: 0;
    padding: 0;
}
.view .info ul {
    height: auto;
    overflow: hidden;
}
.view .info li {
    color: #4a4a4a;
    height: 26px;
    line-height: 26px;
}
.pfen p, .view .info li span, .textdesc span, .textdesc a, .textdesc a:visited {
    color: #03a9dd;
}
.fl {
    float: left;
}
.fr {
    float: right;
}
.textdesc {
    color: #4a4a4a;
    line-height: 26px;
}
.infoad {
    float: right;
    width: 250px;
    height:420px;
}
.endpage {
    background: none repeat scroll 0 0 #fff;
    border: 1px solid #ececec;
    padding: 0 16px;
}
.clearfix:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}
.clearfix {
    display: inline-block;
}
.endpage .ulike {
    padding-left: 6px;
}
.ulike .title {
    color: #404554;
    height: 40px;
    line-height: 40px;
}
.ulike .title span {
    float: left;
    font-size: 14px;
    font-weight: bold;
    padding-right: 30px;
}
.imglist {
    margin-right: -24px;
    overflow: hidden;
    width: 930px;
}
.img-list li {
    float: left;
    height: 186px;
    margin: 0 16px 0 0;
    overflow: hidden;
    width: 92px;
}
.play-img, .p {
    border: 1px solid #dfdfdf;
    display: block;
    height: 122px;
    overflow: hidden;
    padding: 2px;
    position: relative;
    width: 86px;
}
.play-img img, .p img {
    background: url("lazyload.gif") no-repeat scroll center center transparent;
    display: block;
    height: 122px;
    overflow: hidden;
    width: 86px;
}
.play-img i, .play-img em, .p em, .p i {
    display: block;
    height: 20px;
    overflow: hidden;
    position: absolute;
    text-decoration: none;
    width: 86px;
}
em, i {
    font-style: normal;
}
.play-img em, .p em {
    background: url("play-img.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    bottom: 2px;
    color: #fff;
    font-size: 12px;
    left: 2px;
    line-height: 20px;
    padding: 0 5px;
    text-align: right;
    white-space: nowrap;
    width: 76px;
    z-index: 2;
}
.imglist li {
    height: 166px;
    margin-right: 24px;
}
.mox {
    border: 1px solid #f2f2f2;
    clear: both;
    margin-top: 10px;
    padding: 3px;
}
.mox .title {
    border-bottom: 1px solid #f2f2f2;
    color: #3e4454;
    height: 34px;
    line-height: 34px;
    padding: 0 10px;
}
.mox .title span {
    float: left;
    font-size: 16px;
}
.mox .title span img {
    margin-right: 10px;
    vertical-align: middle;
}
.mox .title p {
    background: url("g.gif") no-repeat scroll 0 -74px rgba(0, 0, 0, 0);
    float: right;
    padding-left: 12px;
}
.play-list {
    height: auto;
    overflow: hidden;
    padding: 0 0 6px 4px;
}
.play-list a {
    background: none repeat scroll 0 0 #eee;
    color: #3e4452;
    display: block;
    float: left;
    height: 30px;
    line-height: 30px;
    margin: 8px 8px 0 0;
    overflow: hidden;
    text-align: center;
    width: 144px;
}
.play-list a:visited {
    background: none repeat scroll 0 0 #3e4452;
    color: #fff;
}
.play-list a:hover {
    background: none repeat scroll 0 0 #07a7e1;
    border-color: #07a7e1;
    color: #fff;
    text-decoration: none;
}